<p>
How to use? Enter the word you want to spell like a jerk here:
</p>

{{input type="text" value=word placeholder='you write here'}}

<p>And now you tell them:</p>

<ul>
  {{#each token in tokens}}
    <li>{{token}}</li>
  {{/each}}
</ul>
