<h1 id='title'><img src="gogogo.gif">Welcome to <em>Spell Like a Jrk v0.1</em><img src="gogogo.gif"></h1>

{{#link-to 'index'}}home{{/link-to}}
{{#link-to 'hipster'}}hipster{{/link-to}}
{{#link-to 'turbo'}}turbo{{/link-to}}

<div class='contenuto-centrale'>
  {{outlet}}
</div>

<!-- Start of SimpleHitCounter Code -->
<div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=1712713&f=255&b=16711935" border="0" height="18" width="83" alt="hit counter website"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;font-size:1em;">hit counter website</a></div>
<!-- End of SimpleHitCounter Code -->
