<h3>It's {{now}} and I am the right app for your spelling moments! <br> Now, choose if you want to go Hipster or Turbo from the  << MAIN MENU >> </h3>
<marquee>
  <h3>POWERED BY EMBERJS</h3>
  <img src="0cf15665a9146ba852bf042b0652780a.png">
</marquee>
